{% extends "layout/base.html" %}

{% block title %}
Manage Users
{% endblock title %}

{% block content %}

{% include "include/adminsidebar.html" %}
{% include "include/toastmessage.html" %}

{% comment %} <div class="p-2 sm:ml-64 mt-16 md:mt-14">
    <!-- Search input -->
    <div class="mb-4">
        <input
            type="text"
            id="searchInput"
            placeholder="Search by Full Name or Email..."
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
    </div> {% endcomment %}
   <div class="w-full h-screen bg-gray-50">
        <div class="sm:ml-64">
            <div class=" bg-gray-50 mt-14">
                <div class="relative overflow-x-auto rounded-sm shadow-sm">
                    <table class="w-full" id="usersTable">
                        <thead class="text-left text-xs text-gray-600 bg-gray-300 group">
                            <tr>
                                <th class="px-6 py-3">Full Name</th>
                                <th class="px-6 py-3">E-mail</th>
                                <th class="px-6 py-3">Student Number</th>
                                <th class="px-6 py-3">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-xs text-black" id="usersTbody">
                            {% for user in users %}
                                <tr class="hover:bg-gray-100 border-b border-gray-200">
                                    <td class="px-6 py-3">{{ user.full_name }}</td>
                                    <td class="px-6 py-3">{{ user.email }}</td>
                                    <td class="px-6 py-3">{{ user.student_number }}</td>
                                    <td class="px-6 py-3">
                                        <div class="inline-flex shadow-sm">
                                            <a href="#" class="px-3 py-2.5 font-medium text-sm text-black rounded-s-sm hover:bg-green-700 hover:outline-none">Edit</a>
                                            <a href="#" class="px-3 py-2.5 font-medium text-sm text-black rounded-s-sm hover:bg-red-700 hover:outline-none">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
