{% extends "layout/base.html" %}
{% load static %}

{% block title %}Report Complaint{% endblock title %}

{% block content %}
{% include "include/sidebar.html"%}
{% include "include/toastmessage.html" %}

<div class="bg-gray-600 w-full min-h-screen flex items-center justify-center py-8">
    <form action="/users/complaint/" method="post" enctype="multipart/form-data" class="bg-gray-50 shadow-md mt-10 rounded-lg p-8 w-full max-w-2xl space-y-6">
        {% csrf_token %}
        <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">Report a Complaint</h2>
        <div class="mb-4">
            <label for="category" class="block mb-2 text-sm font-medium text-gray-950">Complaint Category</label>
            <select name="category" id="category" class="bg-gray-50 px-3 py-2 border border-gray-300 text-gray-950 block text-sm rounded w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600">
                {% if categories %}
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="mb-4">
            <label for="course_title" class="block mb-2 text-sm font-medium text-gray-950">Course Title</label>
            <input type="text" class="bg-gray-50 px-3 py-2 border border-gray-300 text-black block text-sm rounded w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="course_title" id="course_title" value="{{ Complaint.course_title|default:'' }}" />
        </div>
        <div class="mb-4">
            <label for="course_lecturer" class="block mb-2 text-sm font-medium text-gray-950">Course Lecturer</label>
            <input type="text" class="bg-gray-50 px-3 py-2 border border-gray-300 text-black block text-sm rounded w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="course_lecturer" id="course_lecturer" value="{{ Complaint.course_lecturer|default:'' }}" />
        </div>
        <div class="mb-4">
            <label for="complaint_details" class="block mb-2 text-sm font-medium text-gray-950">Complaint Details</label>
            <textarea id="complaint_details" rows="6" class="bg-gray-50 px-3 py-2 border border-gray-300 text-black block text-sm rounded w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="complaint_details">{{ Complaint.complaint_details|default:'' }}</textarea>
        </div>
        <div class="mb-4">
            <label for="file_upload" class="block mb-2 text-sm font-medium text-gray-950">Attach Evidence</label>
            <input type="file" class="bg-gray-50 px-3 py-2 border border-gray-300 text-black block text-sm rounded w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="file_upload" id="file_upload" />
        </div>
        <div class="flex items-center justify-end">
            <button type="submit" class="bg-teal-700 hover:bg-teal-950 text-sm font-medium text-white px-6 py-2 rounded shadow-sm cursor-pointer">Submit Complaint</button>
        </div>
    </form>
</div>

{% endblock content %}