{% extends "layout/base.html" %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block content %}
{% include "include/toastmessage.html" %}

<section class="bg-gray-50 dark:bg-gray-900">
    <form action="layout/register/" method="post">
        {% csrf_token %}
        <div class="flex flex-col items-center justify-center px-6 py-8 md:h-auto lg:py-0">
            <div class="flex-col items-center justify-center">
                    <img class="h-20 mx-auto" src="{% static 'ccs_logo.png' %}" alt="logo">
                    <h2 class="flex mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                        Complaint Report Management System
                    </h2>
            </div>
            <div class="w-full rounded-lg shadow dark:border md:my-3 sm:max-w-md xl:p-0 bg-blue-200 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="flex items-center justify-center text-xl font-bold leading-tight tracking-tight text-gray-950 md:text-2xl">
                        Sign Up 
                    </h1>
                    <div>
                        <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900">Full Name</label>
                        <input type="text" name="full_name" id="full_name" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-none dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Gycel Ucag" required="">
                    </div>
                    <div>
                        <label for="year_level" class="block mb-2 text-sm font-medium text-gray-900">Year Level</label>
                        <input type="text" name="year_level" id="year_level" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-none dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First Year" required="">
                    </div>
                    <div>
                        <label for="class_section" class="block mb-2 text-sm font-medium text-gray-900">Class Section</label>
                        <input type="text" name="class_section" id="class_section" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-none dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="BSIT-1A" required="">
                    </div>
                    <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">E-mail</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-none dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="gycel@filamer.edu.ph" required="">
                        </div>
                        <div>
                            <label for="student_number" class="block mb-2 text-sm font-medium text-gray-900">Student Number</label>
                            <input type="student_number" name="student_number" id="student_number" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-none dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="CCS1-00029" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                            <div class="relative">
                                <input type="password" name="password" id="password"  placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-none dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                                <button type="button" onclick="togglePassword('password')" class="absolute inset-y-0 right-0 px-3 text-gray-600 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                        <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                        <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                                      </svg>
                                      <span class="sr-only">Show password</span>
                                </button>
                            </div>
                        </div>
                        <div>
                            <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900">Confirm Password</label>
                            <div class="relative">
                                <input type="password" name="confirm_password" id="confirm_password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-none dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                                <button type="button" onclick="togglePassword('confirm_password')" class="absolute inset-y-0 right-0 px-3 text-gray-600 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                        <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                        <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                                      </svg>
                                      <span class="sr-only">Show password</span>
                                </button>
                            </div>
                        </div>
                    <button type="submit" class="w-full text-gray-950 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign Up</button>
                    <p class="flex justify-center text-sm font-light text-gray-800">
                        Already have an account? <a href="{% url 'login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Log In</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock content %}

<script>
    function togglePassword(fieldId) {
        const input = document.getElementById(fieldId);
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
</script>